# Banco Postgres (docker-compose)
DATABASE_URL=postgresql://admin:admin123@localhost:5433/mensageria_db?schema=public

# RabbitMQ (docker-compose)
RABBITMQ_URL=amqp://admin:admin123@localhost:5672

# Credenciais SMTP (para envio real de email)
EMAIL_USER=seu_email@gmail.com
EMAIL_PASS=sua_senha_de_app
